In [4]:
if 1 > 2:
    print("If condition executed")
else:
    print("Else condition executed")

Else condition executed

In [6]:
if 1 < 2 or 1 > 3:
   print("If condition executed")
else:
    print("Else condition executed")

If condition executed

In [7]:
if 1 < 2 and 1 > 3:
   print("If condition executed")
else:
    print("Else condition executed")

Else condition executed

In [9]:
if 1 > 0 :
    print("If condition executed")
elif 1 < 2:
    print("elIf condition executed")
else:
    print("else condition executed")

If condition executed

In [10]:
if 1 > 0: print("1 > 0")
else:print("1 < 0")

1 > 0

In [13]:
data = "empty" if 1 > 2 else "not emtpy"

In [14]:
data

'not emtpy'

In [15]:
#f=basic function
def sayHello():
    print("Hello")

In [16]:
sayHello()

Hello

In [17]:
sayHello()
sayHello()

Hello
Hello

In [18]:
#Function with parameteres

def add(num1, num2):
    total = num1 + num2
    return total

In [20]:
total_value = add(5,10)

In [21]:
total_value

15

In [ ]:
#===================BUILT IN FUNCTIONS==================
#1) print()
#2) input()
#3) list()

In [24]:
#input function
name = input("Enter your name: ")

In [25]:
name

'Adam'

In [27]:
#list() funtion

data = ("a", 1, "c")

In [28]:
type(data)

tuple

In [29]:
data = list(data)
print(data)
type(data)

['a', 1, 'c']

list

In [30]:
name = "Adam"
list(name)

['A', 'd', 'a', 'm']

In [31]:
set_data = {1 , 2 , 3}
list(set_data)

[1, 2, 3]

In [46]:
#dict function

dict_data = dict({"key" : "value", "key2" : "value2"})
dict_data

{'key': 'value', 'key2': 'value2'}

In [47]:
#tuple function
data = [0,1,2]
tuple(data)

(0, 1, 2)

In [53]:
#str function
a = 1
a

1

In [51]:
str(["data", "items"])

"['data', 'items']"

In [56]:
my_rank = "my rank in " + str(a)

In [57]:
my_rank

'my rank in 1'

In [58]:
#int function
a = "10"
a

'10'

In [59]:
int(a)

10

In [60]:
#float function
float(a)

10.0

In [63]:
#filter function

data = [10,20,50,5,7]

def myfuction(x):
    if x < 15:
        return True
    else:
        return False

kids = filter(myfuction, data)

for x in kids:
    print(x)

10
5
7

In [65]:
data

[10, 20, 50, 5, 7]

In [67]:
filtered_data = []

for x in data:
    if x < 15:
        print("added" , x)
        filtered_data.append(x)
    else:
        print("skipped", x)
filtered_data

added 10
skipped 20
skipped 50
added 5
added 7

[10, 5, 7]

In [69]:
# complex function

complex(10,2)

(10+2j)

In [72]:
# set  function
data = ["python", "html", "css", "css"]
set(data)

{'css', 'html', 'python'}

In [73]:
# sorted function

data = ["python", "html", "css", "css"]

data = sorted(data)
data

['css', 'css', 'html', 'python']

In [88]:
data = [0,2,3,4,5]

data.sort()
# data = sorted(data)
data

[0, 2, 3, 4, 5]

In [85]:

#type function

type(data)

list

In [89]:
#slice function

data = data[1:3]
data

[2, 3]

In [93]:
# reverse
data = [0,2,3,4,5]
data = reversed(data)
for x in data:
    print(x)

5
4
3
2
0

In [94]:
data = [0,2,3,4,5]

min(data)

0

In [95]:
max(data)

5

In [96]:
len(data)

5